@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
}

html {
    background-color:#121212;
    color: #eee;
    cursor: default;
    font-weight: 400;
    padding: 2em;
}

body {margin: 0 auto; max-width: 720px; line-height: 1.5rem; font-size: 1rem;}
.stop-scrolling {height: 100%; overflow: hidden;}

/* - - - - - - - - - - - - - - - - - - - - root */

h2 {font-size: 1.5rem; font-weight: 700; color: white; margin-bottom: 1rem;}

a {text-decoration: none; display: inline-block; color: white;}
a:hover {cursor: pointer;}

button {font-size: inherit; background: none; color: inherit; border: 2px solid; line-height: 1.75rem; padding: 0 0.5rem; font-weight: 700; transition: 200ms;}
button:hover {cursor: pointer;}

ul {display: flex; flex-wrap: wrap; margin-bottom: 1rem;}
ul li {list-style: none; padding: 1rem; flex-grow: 1;}
ul li a {display: flex;}
ul li a img {width: 100%; max-width: 200px;}

/* - - - - - - - - - - - - - - - - - - - - header */

#header {padding-bottom: 2rem; font-weight: 700;}
#header .navbar {display: flex; justify-content: space-between; align-items: center;}
#header .navbar svg {margin-right: 0.5rem;}
#header .navbar .nav-buttons {display: flex; }
#header .navbar .nav-buttons button {margin-left: 0.5rem;}

/* - - - - - - - - - - - - - - - - - - - - footer */

#footer {color: #444; margin-bottom: 2rem; font-size: 0.75rem; font-weight: 700;}

/* - - - - - - - - - - - - - - - - - - - - product page */

#pop-up {background: hsl(0, 0%, 0%, 80%); padding: 2rem;  width: 100%; height: 100%; position: absolute; transition: 200ms; opacity: 1; top: 0; left: 0;}
#pop-up.hide {display: none;}
#pop-up.fade {opacity: 0;}

#pop-up .inner-box {position: relative; max-width: 720px; margin: 0 auto;}
#pop-up .inner-box .navbar {display: flex; justify-content: space-between; align-items: center; padding-bottom: 2rem;}